<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css"/>
    </head>
    <body>
        <h2>Hi. I'm Tina Belcher.</h2>
        <img id="tina" src=http://vignette3.wikia.nocookie.net/bobsburgerpedia/images/6/6e/Tina_render.png/revision/latest?cb=20130113192209/>

        <div id="likes">
            <h4>I'm a big fan of the following things:</h4>
            <ul>
                <li>
                    Horses
                </li>
                <li>
                    Rainbows
                </li>
                <li>
                    Thundergirls troop 119
                </li>
                <li>
                    Zombies
                </li>
                <li>
                    Kissing
                </li>
                <li>
                    Writing erotic fan fiction
                </li>
                <li>
                    Butts
                </li>
            </ul>
        </div>

        <div id="background"></div>

        <div id="romance">
            <img id="jimmy_dance" src="https://az616578.vo.msecnd.net/files/2016/03/10/635932335783077735-441746833_You-Have-Crush-Go.gif"/>
            <p id="romance_text">
                I have an on-again, off-again romance with a boy in my class named Jimmy Jr. He really likes to dance. I really like his butt.
            </p>
        </div>

        <div id="family">
            <h3>These are my family members. I guess they're pretty cool.</h3>
            <div class="fam">
                <div>
                    <a href="http://bobs-burgers.wikia.com/wiki/Bob_Belcher">Bob</a>
                </div>
                <div>
                    <img src="http://vignette3.wikia.nocookie.net/bobsburgerpedia/images/3/3e/Bobbelcher2.png/revision/latest?cb=20130114075133" alt="Bob"/>
                </div>
            </div>
            <div class="fam">
                <div>
                    <a href="http://bobs-burgers.wikia.com/wiki/Linda_Belcher">Linda</a>
                </div>
                <div>
                    <img src="http://vignette2.wikia.nocookie.net/bobsburgerpedia/images/b/b7/Lindab.png/revision/latest?cb=20130113071354" alt="Linda"/>
                </div>
            </div>
            <div class="fam">
                <div>
                    <a href="http://bobs-burgers.wikia.com/wiki/Gene_Belcher">Gene</a>
                </div>
                <div>
                    <img class="fam" src="http://vignette2.wikia.nocookie.net/bobsburgerpedia/images/b/b7/Gene_Belcher.png/revision/latest/scale-to-width-down/250?cb=20130114043308" alt="Gene"/>
                </div>
            </div>
            <div class="fam">
                <div>
                  <a href="http://bobs-burgers.wikia.com/wiki/Louise_Belcher">Louise</a>
                </div>
                <div>
                    <img src="http://vignette2.wikia.nocookie.net/bobsburgerpedia/images/b/b9/Louise_render.png/revision/latest?cb=20130113075349" alt="Louise"/>
                </div>
            </div>

    </div>

</body>
</html>
